.product-card {
    width: 250px; /* Fixed width */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.product-card img {
    width: 100%; /* Image takes full width of the card */
    height: 150px; /* Fixed height */
    object-fit: contain; /* Image will be scaled to maintain its aspect ratio */
    object-position: center; /* Image is centered within its element */
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 5px 0;
}

.product-card p {
    margin: 5px 0;
    color: #333;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
