.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344955;
    color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}
